:root {
    --light-shade: #ececec;
    --main-colour: #857B83;
    --dark-shade: #2e2e2e;
    --main-colour-30p-l: #aaa3a8;
}

* {
    color: var(--dark-shade);
    font-family: Work Sans, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}